.card {
  background: #fff;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
}

.title {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-20);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.fieldSet {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.fieldSet:last-child {
  margin-bottom: 0;
}

.input {
  cursor: pointer;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.25;
  outline: none;
  color: var(--gray);
  background: var(--inputs);
  transition: box-shadow 250ms ease-in-out;
}

.input::placeholder {
  color: var(--gray);
}

.input:hover {
  color: var(--main);
  background: var(--inputs);
  box-shadow: 0 0 0 1px var(--button-hover);
}

.inputError {
  outline: 1px solid #ef4444;
}

.textarea {
  cursor: pointer;
  width: 100%;
  height: 88px;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.25;
  outline: none;
  resize: none;
  color: var(--gray);
  background: var(--inputs);
  transition: box-shadow 250ms ease-in-out;
}

.textarea::placeholder {
  color: var(--gray);
}

.textarea:hover {
  color: var(--main);
  background: var(--inputs);
  box-shadow: 0 0 0 1px var(--button-hover);
}

.error {
  font-size: 12px;
  color: #ef4444;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.datepickerWrapper {
  width: 100%;
}

.form > button {
  align-self: center;
}

/* DatePicker */
:global(.react-datepicker-wrapper) {
  width: 100%;
}

:global(.react-datepicker-popper) {
  z-index: 100;
}

:global(.react-datepicker) {
  font-family: var(--second-family), sans-serif;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 16px;
  width: 276px;
  height: 284px;
  background: var(--white);
}

:global(.react-datepicker__triangle) {
  display: block;
  fill: var(--white);
  stroke: var(--button);
  color: var(--white);
}

:global(
  .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle
) {
  fill: var(--white);
  stroke: var(--button);
  color: var(--white);
}

:global(.react-datepicker__header) {
  background: var(--white);
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 4px;
}

:global(.react-datepicker__current-month) {
  font-size: var(--fs-16);
  font-weight: var(--fw-semibold);
  margin-bottom: 12px;
}

:global(.react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--button);
}

:global(.react-datepicker__day-name) {
  font-size: var(--fs-12);
  font-weight: var(--fw-semibold);
  color: var(--gray);
  width: 36px;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

:global(.react-datepicker__week) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

:global(.react-datepicker__day) {
  width: 36px;
  height: 34px;
  line-height: 36px;
  text-align: center;
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  color: #101828;
  border-radius: 50%;
  margin: 2px 0;
}

:global(.react-datepicker__day:hover) {
  background: #eff4ff;
  border-radius: 50%;
  color: var(--button);
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--selected:hover) {
  background: var(--button);
  color: var(--white);
  border-radius: 50%;
  font-weight: 700;
}

:global(.react-datepicker__day--today) {
  background: var(--button);
  color: var(--white);
  border-radius: 50%;
  font-weight: 700;
}

:global(.react-datepicker__day--outside-month) {
  color: #d1d5db;
}

:global(.react-datepicker__day--disabled) {
  color: #d1d5db;
  cursor: not-allowed;
}

:global(.react-datepicker__day--disabled:hover) {
  background: transparent;
  color: #d1d5db;
}

:global(.react-datepicker__navigation) {
  top: 16px;
}

:global(.react-datepicker__navigation-icon::before) {
  border-color: #3470ff;
  border-width: 2px 2px 0 0;
  width: 12px;
  height: 12px;
}

:global(
  .react-datepicker__navigation:hover .react-datepicker__navigation-icon::before
) {
  border-color: #2558d9;
}

:global(.react-datepicker__month) {
  margin: 0;
  padding-top: 8px;
}

:global(.react-datepicker__week:nth-child(6)) {
  display: none;
}
