.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 424px;
}

.imgWrapper {
  position: relative;
  width: 276px;
  height: 268px;
  flex-shrink: 0;
  border-radius: 14px 14px;
  overflow: hidden;
  background: #f5f5f5;
  margin-bottom: 16px;
}

.img {
  object-fit: cover;
}

.heartBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  width: 16px;
  height: 16px;
}

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 68px;
  margin-bottom: 28px;
}

.carTitle {
  display: flex;
  justify-content: space-between;
}

.carName {
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
}

.carName span {
  color: var(--button);
}

.carPrice {
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
}

.carDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rentInfo,
.techInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  font-size: 12px;
  color: #6b7280;
}

.rentInfo li:not(:last-child)::after,
.techInfo li:not(:last-child)::after {
  content: '|';
  margin-left: 4px;
  color: #d1d5db;
}
