.infoCard {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 480px;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 8px;
}

.carTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
}

.articleId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  white-space: nowrap;
}

/* META */

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.metaItem {
  display: flex;
  align-items: center;

  gap: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: #101828;
}

/* PRICE */

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #3470ff;
  margin-bottom: 32px;
}

/* DESCRIPTION */

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 68px;
}

/* SECTION */

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
}
.section:last-child {
  margin-bottom: 0;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

/* LIST */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.listItem svg {
  flex-shrink: 0;
}
