.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.text {
  font-size: 18px;
  color: #666;
}
